h1{
    color:darkgreen;
    font-family: Arial;
    font-size: 7;              
}

h2{
    color: darkcyan;
    font-family: Arial;
    font-size: 4;
}

h3{
    color: cornflowerblue;
    font-family: Arial;
    font-size: 7;
}


div.a {
    text-align: justify;
}


div.b {
    text-align: center;
}

div.c {
    
    border-width: 1px;
    border-color:darkslategrey;
    border-style: double;
    border-radius: 1%;
    padding: 15px 15px;
    
}