nav{
    
    width: 18%;
    border-width: 3px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 2%;
    background-color: azure;
    float: left;
    padding: 15px 15px;
}

h1{
    color:darkgreen;
    font-family: Arial;
    font-size: 7;
                
}

div.a {text-align: justify;}
div.b {text-align: center;}

section{
    width: 56%;
    padding: 15px 15px;
    float: left;
}

section2{
    width: 56%;
    padding: 15px 15px;
    float:left;
}

aside{
    width: 20%;
    float: right;
    border-width: 2px;
    border-color:darkslategrey;
    border-style: double;
    border-radius: 1%;
}

table
{
    border align="center"; 
    width="80%";
}

footer{
    clear: both
}