nav{
    
    width: 20%;
    border-width: 3px;
    border-color: aquamarine;
    border-style: solid;
    border-radius: 5%;
    background-color: azure;
    float: left;
}

div.a {text-align: justify;}
div.b {text-align: center;}

section{
    width: 50%;
    padding: 0px 5px;
    float: right;
}

aside{
    width: 27%;
    float: right;
}

footer{
    clear: both
}