div.a {text-align: justify;}
div.b {text-align: center;}
div.c {text-align: inherit;}
h1{
    color:darkgreen;
    font-family: Arial;
    font-size: large;
                
}

article{
    float:left; 
    width: 60%;
    padding: 15px 15px;
}
article2{
    float:left; 
    width: 60%;
    padding: 15px 15px;
}

aside{
    float: right; 
    width: 40%
    border-width: 2px;
    border-color:darkslategrey;
    border-style: double;
    border-radius: 1%;
}
footer{float: left; width: 100%}